h1 {
    text-align: center;
    background-color: black;
    color: white;
}

h2 {
    text-decoration: underline;
}

details {
    margin-left: 1em;
    margin-right: 1em;
    border: solid black 1px; 
}

summary {
    background-color: lightgray;
}

summary h2 {
    margin-top: 0;
}

table { 
    border: solid black 1px; 
    border-collapse: collapse;
    width: 90%; 
}

th {
    background-color:black;
    color: white;
}

td {
    padding: 1em;
}

tbody tr:nth-child(even) {
  background-color:linen;
}


tbody tr:nth-child(odd) {
  background-color: lightyellow;
}

tbody tr:hover {
    background-color: yellow !important;
}
