h1 {
    text-align: center;
    background-color: black;
    color: white;
}

table { 
    border: solid black 1px; 
    border-collapse: collapse;
    width: 90%; 
}

th {
    background-color:black;
    color: white;
}

td {
    padding: 1em;
}

tbody tr:nth-child(even) {
  background-color:linen;
}


tbody tr:nth-child(odd) {
  background-color: lightyellow;
}
