h1 {
    text-align: center;
    background-color: black;
    color: white;
}

table { 
    border: solid black 1px; 
    width: 100%; 
}

th {
    background-color:black;
    color: white;
}

code { white-space: pre; }
